@mixin marginBody {
  margin: {
    left: 10px;
    right: 10px;
  }
}
@mixin marginDiv {
  margin: {
    left: 15px;
    right: 15px;
  }
}
body {
  @include marginBody;
}
div {
  @include marginDiv;
}