@mixin fontSize {
  font-size: 12px;
}
.info {
  @include fontSize;
}
.success {
  @include fontSize;
  @extend .info;
  color: #00FF00;
}
.warning {
  @include fontSize;
  @extend .info;
  color: #FF0000;
}